# Logs
logs
*.log

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

server/cache_manager/*.js
server/cache_manager/*.js.map
socket_manager.js
socket_manager.js.map