:root {
    --width-line-cross: 8%;
}

* {
    touch-action: manipulation;
}

.board__wait .board-table {
    opacity: 0.4;
    pointer-events: none;
    cursor: none;
}

#play {
    width: 50%;
    max-width: 400px;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 50%;
    /* padding-left: 1rem; */
    left: 20%;
}

#play div {
    margin-top: 5%;
    align-items: center;
    margin-bottom: 2%;
    /* background: none; */
    /* background-color: aqua; */
}

#play span>a~a {
    margin-left: 10px;
}

#play-link>span {
    border: 1px solid black;
    padding: 3px;
    /* background-color: blanchedalmond; */
}

#play-button {
    margin-top: 5em;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

body {
    min-width: 900px;
}

.boat {
    display: inline-flex;
}

.boat-type {
    min-width: max-content;
}

.boat-part {
    display: block;
    height: 7px;
    width: 7px;
    margin: 1px;
    background: rgba(0, 0, 255, .25);
    word-wrap: none;
}

.table-container {
    display: flex;
    justify-content: space-evenly;
}

#flex-container {
    /* width: 100%; */
    /* display: flex; */
    padding: 5rem 0;
}

.sunk>.boat-part {
    background-color: rgba(255, 0, 0, 0.5);
}

#board-container {
    float: left;
    width: 50%;
    position: relative;
    user-select: none;
}

#rival-container {
    width: 50%;
    float: right;
    position: relative;
}

.board-table {
    /* border: 1px solid black; */
    border-collapse: collapse;
    /* border-spacing: 0px; */
}

.board-cell {
    border: 1px solid #b4b4ff;
    position: relative;
    /* z-index: 5; */
}

.board-cell .board-cell-content {
    height: 2em;
    width: 2em;
    /* position: relative; */
}

.board-cell__miss {
    background-color: rgb(240, 230, 140, 0.5);
}

.board-cell__miss::after {
    position: absolute;
    content: "";
    /* border: 1px solid red; */
    background-color: black;
    width: 5px;
    height: 5px;
    top: calc(50% - 2.5px);
    left: calc(50% - 2.5px);
    border-radius: 50%;
}

.board-cell__hit {
    background-color: rgb(240, 128, 128, 0.1);
}

.board-cell__done .boat-box {
    border: rgba(255, 0, 0, 0.5);
}

.board-cell__done .board-cell-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 2em;
    height: 2em;
    border: 2px solid red;
    /* z-index: 2; */
}

.boat-box {
    z-index: 1;
    left: 0;
    top: 0;
    border: 2px solid #00f;
    background: rgba(0, 0, 255, .05);
    position: absolute!important;
    margin: -2px;
}

.ui-draggable {
    cursor: move;
}

.marker {
    position: absolute;
    font-size: 11px;
    z-index: -1;
}

.marker_row {
    left: -1.5rem;
    text-align: right;
    top: 0.5rem;
    min-width: 15px;
}

.marker_col {
    top: -1rem;
    width: 100%;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.cross {
    width: 100%;
    height: 100%;
    position: relative;
}

.cross:before,
.cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #d00;
    transform: rotate(45deg);
    /* IE 9 */
    -ms-transform: rotate(45deg);
    /* Safari and Chrome */
    -webkit-transform: rotate(45deg);
}

.cross:before {
    top: -7px;
    left: calc(50% - var(--width-line-cross)/2);
    width: var(--width-line-cross);
    height: calc(100% * 1.415);
}

.cross:after {
    left: -7px;
    top: calc(50% - var(--width-line-cross)/2);
    height: var(--width-line-cross);
    width: calc(100% * 1.415);
}

header {
    display: flex;
    width: 100%;
}

#logo {
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

#container-message {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: center;
}

#container-message>#message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 3rem;
    width: 50%;
    background-color: rgba(240, 240, 240, 1);
    padding: 5px 10px;
}

#container-message>#message[data-type=win] {
    color: white;
    background-color: green;
}

#container-message>#message[data-type=lost],
#container-message>#message[data-type=error] {
    color: white;
    background-color: red;
}

#container-message>#message>button {
    align-self: flex-end;
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.board-options {
    display: block;
}

.board-options>div {
    width: 50%;
    text-align: center;
}

.board-options>div>button {
    margin-top: 2rem;
}


/* Chat */

#chat-container {
    width: 75%;
    margin: 1rem auto 0 auto;
    padding: 1rem;
    background-color: rgb(235, 235, 235);
    /* max-height: 20vh; */
    position: relative;
}

#chat-container>#chat-input {
    width: 100%;
    position: sticky;
    top: 0;
}

#chat-messages-list {
    overflow: auto;
    max-height: 200px;
    margin-top: 0.5rem;
}

.chat-message {
    margin: 0.5rem 0;
    white-space: nowrap;
}

.chat-message.sent {
    color: gray;
}